@import "tailwindcss";


  button {
    @apply cursor-pointer;
  }

  body {
  font-family: var(--font-philosopher), ui-sans-serif, system-ui, sans-serif;
}



[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #333;
  pointer-events: none;
}